body {
    background-color: #474A51;
}

.cabeçário { 
    color: #66280a;
    background-color: #A9A9A9 ;   
    width: 33%;
    text-align: center;
    display: inline-block;
}

.idk {
    width: 100%;
}

.Título {
 text-align:center;
 color: #E2AA44;
 font-size: 30px;
 
}

#p1 {
    text-align: center;
    color: #F6F7F9 ;
    font-size: 20px;
}

.opções {
    background-color: #8D8C86;
}

ul {
    background-color: #B7D5E5;
    width: 50%;
    margin-left: 100px
}

.Título2 {
    color: #800080;
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
    background-color: #E6E1EF;
    width: 410px;
    padding: 10px
}

#p2{
    text-align: left;
    color: peachpuff ;
    font-size: 22px;
    margin-left: 10px;
}

.lista {
font-size: 25px;
margin-left: 60px; 
font-style: italic;
width: 50%;
}

#Chocolate {
    color: #66280a;
    padding: 10px;
    width: 70%;
}

#Morango {
    color: #FF0084;
    padding: 10px;
}

#Branco {
    color: azure;
    padding: 10px;
}

.brancoimg {
    height: 495px;
}